
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

{% comment %} {% include 'early_bird_card.html' with data=early_bird %} {% endcomment %}

Every person gets their own card at bottom of page with stats (tbd)
track their individual metrics ()
performance data for everyone's takeoff time

early bird award
night owl
Most days completely off
no rest for the weary - most weekend/friday events
most unique events (head of the pack)
most repeat events (most times scheduled for same event)
individal cards:
unofficial onwings - everyones most flown with instructor
duties
early starts
unique events
most recent event
total repeated events

{% endblock content%}