
{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
</br>
<div class="container mr-4">
    <div class="row justify-content-between">
        <div class="col-md-3 align-items-stretch">
            {% include 'head_of_flock_card.html' with data=head_of_flock %}
        </br>

        </div>
        <div class="col-md-3 align-items-stretch">
            {% include 'early_bird_card.html' with data=early_bird %}
        </br>
        </div>
        <div class="col-md-3 align-items-stretch">
            {% include 'night_owl_card.html' with data=night_owl %}
        </br>
        </div>
        
        <div class="col-md-3 align-items-stretch">
            {% include 'servant_leader_card.html' with data=servant_leader %}
        </br>

        </div>
        
        <div class="col-md-3 align-items-stretch">
            {% include 'part_time_sna_card.html' with data=part_time_sna %}
        </br>

        </div>

        <div class="col-md-3 align-items-stretch">
            {% include 'back_seat_driver_card.html' with data=backseat_driver %}
        </br>

        </div>

        <div class="col-md-3 align-items-stretch">
            {% include 'no_rest_for_weary_card.html' with data=no_rest_for_the_weary %}
        </br>

        </div>
        <div class="col-md-3 align-items-stretch">
            {% include 'repeat_offender_card.html' with data=repeat_offender %}
        </br>

        </div>


    </div>
</div>


</br>
{% for titler, ranking in data %}
{% include 'ranking_card.html' with title=titler column=titler data=ranking %}
</br></br>
{% endfor %}

{% comment %} Every person gets their own card at bottom of page with stats (tbd)
track their individual metrics ()
performance data for everyone's takeoff time

early bird award - done
night owl - done
Most days completely off
no rest for the weary - most weekend/friday events
most unique events (head of the pack) - done
most repeat events (most times scheduled for same event) - done
individal cards:
unofficial onwings - everyones most flown with instructor - done
duties - done
early starts - done
unique events ...
most recent event ...
total repeated events ... {% endcomment %}

{% endblock content%}