{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="row">
    {{ezsked}}
    {{weather}}
    TIME CARD ({% now "H:i:s" %})
    <div id="clock">
      <!-- Initial time will be replaced by JavaScript -->
      {% comment %} {% now "H:i:s" %} {% endcomment %}
    </div>
    
    use this same script to update the weather every 5 minutes
    <script>
    function updateClock() {
      var clockElement = document.getElementById('clock');
      var currentTime = new Date().toLocaleTimeString();
      clockElement.innerHTML = currentTime;
    }
    // Update the clock every second (1000 milliseconds)
    setInterval(updateClock, 1000);
    </script>

    <div id="utcClock">
      <!-- Initial time will be replaced by JavaScript -->
      {% now "H:i:s" %}
    </div>
    
    <script>
    function updateUTCClock() {
      var utcClockElement = document.getElementById('utcClock');
      var currentUTCTime = new Date().toUTCString().split(' ')[4]; // Extracting only the time part
      utcClockElement.innerHTML = currentUTCTime;
    }
    
    // Update the UTC clock every second (1000 milliseconds)
    setInterval(updateUTCClock, 1000);
    </script>

    {{sunrise_set}} 
{% include 'time_card.html' %}
{% include 'time_card.html' %}
{% include 'time_card.html' %}

</div>

<div>
  {{metar}}
  {{ taf }}
  METARS
  Airport
  Clouds
  Viz
  Winds
  button to take you to awc page
  {% include 'weather_card.html' %}
</div>

<div>AHAS NOTAMS TFRs</div>
{% endblock content%}