{% comment %} <div class="d-flex"> {% endcomment %}
  {% load custom_filters %}

    <div class="card border-0 shadow">
      <div class="card-body">
        <div class="row d-block d-xl-flex align-items-center">
          <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
            <div class="icon-shape icon-shape-secondary rounded me-2 me-sm-0 ">
                <i class="fa-solid fa-mug-hot"></i>
            </div>
          </div>
          <div class="col-20 col-xl-7 px-xl-0">
            <div class="">
              <h2 class="h6 text-gray-400 mb-0">Sleep When Dead</h2>
              <h3 class="fw-extrabold mb-2" style="font-size: 1.4rem;"> <!-- Adjust font size -->
                <div id="clock">
                  {{ data.0 }}
                
                </div>
              </h3>
            </div>
            <small class="d-flex align-items-center text-gray-500" style="font-size: 0.8rem;"> <!-- Adjust font size -->
              Avg Turn (Hrs):
              
              {{ data.1|timedelta_to_hours_minutes }}
            </small>
          </div>
        </div>
      </div>
    </div>
  {% comment %} </div> {% endcomment %}